body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#header {
    width: 100%;
    background-color: #1fb8ff;
    color: white;
    padding: 20px;
}

#header-text  {
    float: left;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header-text h1 {
    margin: 0px;
}

#header-text h2 {
    margin: 0px;
}

#header img {
    float: left;
}

#content {
    padding: 20px;
}

#footer {
    background-color: #1fb8ff;
    color: white;
    padding: 20px;
    text-align: right;
}

.clearfix {
    clear: both;
}

hr {
    border: 1px solid #1fb8ff;
}
