body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #333333;
}

#header {
    width: 100%;
    background-color: #DDDDDD;
    color: #333333;
    padding: 20px;
}

#header-text  {
    float: left;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header-text h1 {
    margin: 0px;
}

#header-text h2 {
    margin: 0px;
}

#content {
    padding: 20px;
}

hr {
    border: 1px solid #1fb8ff;
}

h1 {
    font-size: 14pt;
}

h2 {
    font-size: 12pt;
}

#footer {
    background-color: #DDDDDD;
    color: #333333;
    padding: 20px;
    text-align: right;
}
